/*--------- Global --------*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}


/*-------- App.js --------*/

* {
  box-sizing: border-box;
}

.app {
  max-width: 1600px;
  margin: auto;
  box-sizing: border-box;
}

.header {
  box-sizing: border-box;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.body {
  box-sizing: border-box;
  background-color: #F5F5F5;
  overflow: scroll;
}

.bottom-nav-mobile {
  transform: translate3d(0, 80px, 0);
  -webkit-transform: translate3d(0, 0, 0);
}


/*-------- Generate Page ---------*/

.generate-page {
  padding: 5rem 1rem 0rem 1rem;
}


.form-section {
  background-color: #CAF7D8;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 0.5rem
}

.form-title {
  padding-bottom: 0.5rem;
  color: black
}

.form-field {
  background: white;
  border-radius: 5px
}


.image-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-card {
  padding: 2rem;
  flex: 6;
  width: 100%;
  height: 100%;
  background-color: #70E195;
  border-radius: 16px;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  display: flex;
}

.loading-box {
  display: flex;
  background-color: #c5f2d2;
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 16px
}

/* MyCodes2 */
/* CSS for the lightbox container */
.lightbox-container {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 1000;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CSS for the previous and next buttons container */
.lightbox-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

/* CSS for the previous and next buttons */
.lightbox-buttons button {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  margin: 4px;
  transition: background-color 0.3s ease;
}

.lightbox-buttons button:hover {
  background-color: rgba(0, 0, 0, 1);
}

/* CSS for the dialog (modal) */
.MuiDialog-paper {
  max-width: 80%;
  max-height: 80%;
}


@media screen and (max-width: 900px) {
  .body {
    height: auto;
    padding: 0px
  }

  .image-card {
    height: calc(100dvh - 180px);
    padding: 2rem;
    align-items: center;
    flex-direction: column;
  }

  .loading-box {
    max-height: calc(100dvh - 320px);

  }
}

@media screen and (max-width: 600px) {

  .generate-page {
    padding: 4.7rem 0.5rem 0rem 0.5rem;
  }

  .form-section {
    margin-top: 0rem
  }

  .image-card {
    margin: 0;
    padding: 0;
    border-radius: 0;
    height: 100%
  }

  .loading-box {
    margin: 0;
    padding: 0;
    border-radius: 0;
  }

}