/*--------- Global --------*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}


/*-------- App.js --------*/
.app {
  max-width: 1600px;
  margin: auto;
  box-sizing: border-box;
}

.header {
  box-sizing: border-box;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.body {
  box-sizing: border-box;
  /* TODO Remove for mobile */
  height: calc(100dvh - 75px);
  background-color: #F5F5F5;
  margin-top: 64px;
  overflow: scroll;
}

.bottom-nav-mobile {
  transform: translate3d(0, 80px, 0);
  -webkit-transform: translate3d(0, 0, 0);
}


/*-------- Generate Page ---------*/

.generate-page {
  display: flex;
  height: calc(100dvh - 75px);
  align-items: center;
  justify-content: space-evenly;


}

.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* max-width:550px; */
  max-height: 100%;
  padding: 0rem 2rem;
  justify-content: "center";

  height: 100%;
  overflow: scroll
}



.formfield {
  overflow-y: scroll;
  overflow-x: hidden;
}


.image-container {

  height: 100%;
  padding: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.image-card {
  padding: 2rem;
  flex: 6;
  /* align-items: center; */
  width: 100%;
  height: 100%;
  background-color: #70E195;
  border-radius: 16px;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  display: flex;
  /* flex-direction: column; */
}

.loading-box {
  display: flex;
  background-color: #c5f2d2;
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 16px
}

/* MyCodes2 */
/* CSS for the lightbox container */
.lightbox-container {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 1000;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CSS for the previous and next buttons container */
.lightbox-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

/* CSS for the previous and next buttons */
.lightbox-buttons button {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  margin: 4px;
  transition: background-color 0.3s ease;
}

.lightbox-buttons button:hover {
  background-color: rgba(0, 0, 0, 1);
}

/* CSS for the dialog (modal) */
.MuiDialog-paper {
  max-width: 80%;
  max-height: 80%;
}


@media screen and (max-width: 900px) {
  .body {
    height: auto;
    padding: 0px
  }

  .generate-page {
    height: auto
  }

  .sidebar {
    width: 100%;
    padding: 0rem 1rem;
    margin-bottom: 60px;
  }

  .image-container {
    margin: 0;
    padding: 1rem;
    /* height: calc(100dvh - 120px); */
    flex-direction: column;
    width:100%
  }

  .image-card {
    height: calc(100dvh - 180px);
    padding: 2rem;
    align-items: center;
    flex-direction: column;
  }

  .loading-box {
    max-height: calc(100dvh - 320px);

  }
}

@media screen and (max-width: 600px) {
  .image-container {
    padding: 0rem;

  }

  .image-card {
    margin: 0;
    padding: 0;
    border-radius: 0;
    height: 100%
  }

  .loading-box {
    margin: 0;
    padding: 0;
    border-radius: 0;

  }

  .body {
    margin-top: 56px;
  }
}